theme-input {
  .c-input-group {
    width: 100%;
  }

  input[type='color'] {
    height: 100%;
    width: 2.5em;
    padding: 0em;
  }

  .c-icon {
    cursor: pointer;
  }

  .c-color-picker__input {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  ::-webkit-color-swatch {
    border: none;
  }

  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  ::-moz-color-swatch,
  ::-moz-focus-inner {
    border: none;
  }
}
